:root {
    /* Aquí hi van les variables */
}

* {
    /* Aquí hi va el reset */
    margin: 0;
    padding: 0;
    border: 0;
}

@font-face {
    /* Aquí hi van les fonts personalitzades */
}


    /* Aquí hi van propietats generals */

body {
    background: white;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

li { 
    width: 10rem;
    height: 10rem;
    border-radius: 50%;
    background: red;
    margin: 1rem;
    float: left;
    list-style-type: none;
    text-align: center;
    align-content: center;
}

ul {
    width: 36rem;
    margin: auto;
}


    /* Aquí hi van propietats responsives */



@media (max-width:480px)
    /* Aquí hi va la versió mòbil */
 {

    
 }

@media (min-width:481px) and (max-width:1279px) 
 {

        li {
            background: green;
        }
    
 }


@media (min-width:1280px)
 {
    body {
        background: pink;
    }
}

.cap {
    background: #222;
    height: 20rem;
    color: white;
    padding: 20px;
    align-content: center;
    text-align: center;
}

nav a {
    color: white;
    margin: 0 10px;
    text-decoration: none;
}

nav a:hover {
    text-decoration: underline;
}

.sobre-mi {
    background: #222;
    color: #222;
    padding: 20px;
    background-image;
}

section {
    padding: 30px;
    max-width: 900px;
    margin: auto;
    background: white;
    margin-top: 20px;
    border-radius: 10px;
}

h1 {
    padding: 2rem;
}

.projecte {
    border: 1px solid #ddd;
    padding: 15px;
    margin-top: 10px;
    border-radius: 8px;
    background: #fafafa;
}


a:visited {
    color: grey;
}

a:link{
    line-height: 10rem;
    color: black;
    text-decoration: none;
}

a:hover {
    color: red;
}

a:active {
    color: yellowgreen;
}

ul {

}