body {
    margin: 0;
    font-family: Arial, Helvetica, sans-serif;
}

.contenidor {
   width: 1716px;
   margin: auto;
}

.nav {
    height: 166px;
}

.friend {
    height: 180px;
    width: 1300px;
    margin: auto;
}

.pics {
    height: 1860px;
}

.logo {
    width: 239px;
    height: 49px;
    background-color: yellow;
    float: left;
    background-image: url(../img/logo.jpg);
    margin: 50px 0 0 0;
}

.menu {
    width: 301px;
    height: 49px;
    float: left;
    ackground-image: url(../img/menu.jpg);
    margin: 50px 0 0 468.5px;
}

.menu ul {
    margin: 0;
}

.menu ul li {
    width: 40px;
    height: 40px;
    margin: 0 10px;
    float: left;
    display: block;
    background-image: url(../img/menu.jpg);
}

.menu ul li:hover {
    opacity: 0.6;
}

.inici {
    background-position: -3px -3px;
}

.cerca {
    background-position: -87px -3px;
}

.directes {
    background-position: -170px -3px;
}

.favorits {
    background-position: -255px -3px;
}
.perfil {
    width: 80px;
    height: 120px;
    margin: 20px;
    float: left;
    text-align: center;
    opacity: 0.6;
}

.foto {
    width: 80px;
    height: 80px;
    border-radius: 50%;
    background-image: url(../img/perfil.jpg);
    background-size: cover;
    border: brown 5px solid;
    box-shadow: inset 0px 0px 2px white;
}

.bucky {
    background-image: url(../img/bucky_dxrq.jpg);
}

.steve {
    background-image: url(../img/Steve\ Rogers.jpg)
}

.tony {
    background-image: url(../img/Tony.jpg)
}
.sam {

}

.natasha {
    background-image: url(../img/Natasha.jpg)
}

.clint{
   background-image: url(../img/clint.jpg)
}

.thor {
   background-image: url(../img/thor.jpg)
}

.loki{

}

.wanda {

}

.fury {

}

.perfil:hover {
    opacity: 1;
}

.afegir {
    width: 20px;
    height: 20px;
    background: blue;
    border-radius: 50%;
    border: 5px solid white;
    position: relative;
    left: 60px;
    top: -80px;
    line-height: 20px;
    color: white;
    text-align: center;
}

.post {
    width: 536px;
    height: 620px;
    margin: 18px;
    float: left;
}

.imatge {
    width: 536px;
    height: 536px;
    background: pink;
    background-image: url(../img/ifpagram_14.jpg);
}

.info {
    width: 268px;
    height: 84px;
    float: left;
}

.reaccions {
    width: 268px;
    height: 84px;
    float: left;
}

.autor {
    width: 50px;
    height: 50px;
    margin: 10px;
    float: left;
    background-image: url(../img/Steve\ Rogers.jpg);
    background-size: cover;
    border-radius: 50%;
}

.usuari{
    height: 25px;
    width: 198px;
    margin: 15px 0 0 0;
    float: left;
}

.quan {
    height: 25px;
    width: 198px;
    margin: 0;
    float: left;
    color: grey;
    font-size: 12px;
}

.likes {
    height: 25px;
    width: 65px;
    float: left;
}

.cors {
    height: 25px;
    width: 25px;
    display: block;
    float: left;
    background-image: url(../img/menu.jpg);
    background-size: cover;
    background-position: -127px 0px;
}

.mes {
    height: 25px;
    width: 45px;
}

.i2 {
    background-image: url(../img/ifpagram_16.jpg);
}

.i3 {
    background-image: url(../img/ifpagram_18.jpg);
}

.i4 {
    background-image: url(../img/ifpagram_23.jpg);
}

.i5 {
    background-image: url(../img/ifpagram_24.jpg);
}

.i6 {
    background-image: url(../img/ifpagram_25.jpg);
}

.i7 {
    background-image: url(../img/ifpagram_29.jpg);
}

.i8 {
    background-image: url(../img/ifpagram_30.jpg);
}

.i9 {
    background-image: url(../img/ifpagram_31.jpg);
}

input[type=checkbox] {
  visibility: hidden;
}

.cor {
  margin: 0 0 0 1rem;
  width: 1rem;
  height: 1rem;
  position: relative;
  background-image: url(https://www.svgrepo.com/show/95200/favourite-heart.svg);
  background-size: 1rem 1rem;
  float: left;
  
}

.cor label {
  display: block;
  width: 1rem;
  height: 1rem;
  cursor: pointer;
  position: absolute;
  top: 0;
  left: 0;
  opacity: 0;
  background-image: url(https://upload.wikimedia.org/wikipedia/commons/thumb/8/86/A_perfect_SVG_heart.svg/684px-A_perfect_SVG_heart.svg.png?20180121090836);
  background-size: 1rem 1rem;
  float: left;
}

.cor input[type=checkbox]:checked+label {
  opacity: 1;
}

.likes {
    width: 50%;
    float: left;
    text-align: right;
}

.mes {
    clear: both;
    width: 50%;
    text-align: right;
}

.reaccions {
    margin-top: 10px;
}