.htmlNoPages .gwd-motion-path-14rn-anim-x {
  --gwd-motion-path: {
    "tangentFollowing":false, "sections":[ {
      "controlPoints": ["-386.76px", "-350px", "-808.4px", "127.17px", "-11.98px", "40.43px", "459.29px", "59.96px"], "startTimeMs": 0, "endTimeMs": 1787.5, "easing": "linear"
    }
    , {
      "controlPoints": ["459.29px", "59.96px", "810.9px", "71.55px", "981.04px", "144.59px", "334.41px", "558px"], "startTimeMs": 1787.5, "endTimeMs": 3100, "easing": "linear"
    }
    ], "positionTol":0.5, "angleTol":1, "optimizationLevel":0
  }
  ;
  animation: 3.1s linear 0s 1 normal forwards running gwd-motion-path-14rn-keys-x;
  transform: translate3d(-386.76px, 0px, 0px);
}
@keyframes gwd-motion-path-14rn-keys-x {
  0% {
    transform: translate3d(-386.76px, 0px, 0px);
    animation-timing-function: cubic-bezier(0.3026, 0.3538, 0.6121, 0.7365);
  }
  8.65% {
    transform: translate3d(-493.74px, 0px, 0px);
    animation-timing-function: cubic-bezier(0.5402, -0.7361, 0.8312, 0.5988);
  }
  17.3% {
    transform: translate3d(-438.58px, 0px, 0px);
  }
  18.74% {
    transform: translate3d(-409.8px, 0px, 0px);
  }
  21.62% {
    transform: translate3d(-348.64px, 0px, 0px);
    animation-timing-function: cubic-bezier(0.3363, 0.3302, 0.6665, 0.6668);
  }
  57.66% {
    transform: translate3d(459.29px, 0px, 0px);
    animation-timing-function: cubic-bezier(0.332, 0.3344, 0.6584, 0.6756);
  }
  69.3% {
    transform: translate3d(717.41px, 0px, 0px);
    animation-timing-function: cubic-bezier(0.3585, 5.3499, 0.4466, 6.9131);
  }
  77.77% {
    transform: translate3d(728.68px, 0px, 0px);
  }
  78.83% {
    transform: translate3d(713.07px, 0px, 0px);
    animation-timing-function: cubic-bezier(0.3537, 0.3103, 0.675, 0.6598);
  }
  100% {
    transform: translate3d(334.41px, 0px, 0px);
  }
}
.htmlNoPages .gwd-motion-path-14rn-anim-y {
  animation: 3.1s linear 0s 1 normal forwards running gwd-motion-path-14rn-keys-y;
  transform: translate3d(0px, -350px, 0px);
}
@keyframes gwd-motion-path-14rn-keys-y {
  0% {
    transform: translate3d(0px, -350px, 0px);
    animation-timing-function: cubic-bezier(0.3583, 0.3084, 0.6945, 0.6391);
  }
  11.53% {
    transform: translate3d(0px, -125.31px, 0px);
  }
  12.97% {
    transform: translate3d(0px, -93.39px, 0px);
  }
  14.42% {
    transform: translate3d(0px, -64.41px, 0px);
    animation-timing-function: cubic-bezier(0.1833, 0.4867, 0.4898, 0.8536);
  }
  28.83% {
    transform: translate3d(0px, 42.27px, 0px);
    animation-timing-function: cubic-bezier(0.2457, 1.0052, 0.5276, 0.5176);
  }
  57.66% {
    transform: translate3d(0px, 59.96px, 0px);
    animation-timing-function: cubic-bezier(0.5753, 0.0809, 0.8589, 0.4524);
  }
  71.42% {
    transform: translate3d(0px, 124.46px, 0px);
    animation-timing-function: cubic-bezier(0.3518, 0.3139, 0.6365, 0.6941);
  }
  76.71% {
    transform: translate3d(0px, 233.28px, 0px);
    animation-timing-function: cubic-bezier(0.2892, 0.3723, 0.6479, 0.6893);
  }
  100% {
    transform: translate3d(0px, 558px, 0px);
  }
}
[data-gwd-motion-path-node] {
  position: absolute;
  left: 0px;
  top: 0px;
  width: 100%;
  height: 100%;
  pointer-events: none;
}