body {
    background: white;
}

.fulla {
    width: 100px;
    height: 100px;
    background: green;
    border-radius: 50% 0% 50% 0% ;
    position: absolute;
    top: 50px;
    left: 150px;
    transform-origin: 0 100px;
    background: linear-gradient(90deg, black, red);
}

.flor {
    width: 300px;
    height: 300px;
    position: relative;
    z-index: 1000;
}

.f1 {
    transform: rotate(0deg);
}

.f2 {
    transform: rotate(60deg);
}

.f3 {
    transform: rotate(120deg);
}

.f4 {
    transform: rotate(180deg);
}

.f5 {
    transform: rotate(240deg);
}

.f6 {
    transform: rotate(300deg);
}

.cor {
    width: 50px;
    height: 50px;
    border-radius: 50%;
    position: absolute;
    top:125px;
    left: 125px;
    background: radial-gradient(black, red);
}

@keyframes rotacio {

    0% {
        transform: rotate(0deg);
    }

    100% {
        transform: rotate(360deg);
    }
}

.tija {
    width: 15px;
    height: 550px;
    background: green;
    position: absolute;
    top:150px;
    left: 150px;
    background: linear-gradient(0deg, teal, ForestGreen);
}

.fullamig {
    width: 100px;
    height: 100px;
    background: green;
    border-radius: 100% 0% 100% 0% ;
    position: absolute;
    top: 350px;
    left: 150px;
    background: linear-gradient(180deg, darkgreen, teal);
}

.conjunt:hover .flor{
    animation: 2s rotacio linear infinite;
}

.conjunt {
    width: 300px;
    height: 720px;
}